<div class="col-sm-9 col-md-10 col-md-offset-2 main">
    <h2>{{name}}</h2>
    <button ng-click="test()">TEST</button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Test 1</th>
                <th>Test 2</th>
            </tr>
        </thead>
        <tbody>
            
            <tr ng-repeat="student in students" ng-click="">
                <td>{{student.name}}</td>
                <td>{{student.test1 | number}}</td>
                <td>{{student.test2 | number}}</td>
                
            </tr>
        </tbody>
    </table>


</div>


